<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee           http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>servlets.LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCustomerServlet1</servlet-name>
        <servlet-class>servlets.NewCustomerServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet1</servlet-name>
        <servlet-class>servlets.TransactionServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>password_reset_servlet</servlet-name>
        <servlet-class>servlets.password_reset_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCustomerServlet1</servlet-name>
        <url-pattern>/NewCustomerServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet1</servlet-name>
        <url-pattern>/TransactionServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>password_reset_servlet</servlet-name>
        <url-pattern>/password_reset_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/Error_java.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
